@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-stroke {
    -webkit-text-stroke: 0.5px black;
    text-shadow:
      -0.5px -0.5px 0 #000,
      0.5px -0.5px 0 #000,
      -0.5px 0.5px 0 #000,
      0.5px 0.5px 0 #000;
  }
}

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff/static/DynaPuff-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff/static/DynaPuff-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff/static/DynaPuff-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff/static/DynaPuff-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
}